/* CSS for window chrome */

.gripper {
	height: 	16px;
	background-image: url(app:/images/titleBar-16.png);
}
#iconResizeWinE {
	background-image: url(app:/images/titleBar-16.png);
}
#iconResizeWinW {
	background-image: url(app:/images/titleBar-16.png);
}
a#iconMoveWin {
	/* TODO maybe to use an url */
	cursor: move;
}
